@using Nop.Plugin.Payments.Saman.Models
@model BeforeGatewayModel

<form id="Gateway__PostForm" name="Gateway__PostForm" action="https://sep.shaparak.ir/payment.aspx" method="POST">
    <input type="hidden" name="token" value="@Model.Token">
    <input type="hidden" name="redirectUrl" value="@Model.RedirectUrl">

</form>

<script language="javascript">
    var myForm = document.Gateway__PostForm;
    myForm.submit();
</script>